<div ng-controller="myListController">

	<div class="row">
	    <div class="small-8 small-centered columns">
			<form>
				<div class="row">
				    <div class="large-12 columns">
				    	<label>Search
				        	<input ng-model="query" type="text" placeholder="Enter name here" />
				    	</label>
				    </div>
				</div>

		  		<div class="row">
				    <div class="small-12 large-6 columns">
				    	<label>Sort by Title or Rank
					        <select  ng-model="sortOption" ng-options="value.label for value in sortOptions">
						    </select>
				    	</label>
				    </div>

				    <div class="small-12 large-6 columns">
				    	<label>Ascending or Descending
					        <select  ng-model="reverseOption" ng-options="value.label for value in reverseOptions">
						    </select>
				    	</label>
				    </div>
				</div>
			</form>

		    <div class="row" ng-repeat="movie in movieList | filter : query | orderBy : sortOption.id : reverseOption.id">
		    	<div class="small-3 columns">
	    			<img ng-src="../public/data/images/{{movie.imdbID}}.jpg"/>
	    		</div>
		    	<div class="small-9 columns">
			    	<span>
			    		<h2><a href="./#/details/{{movie.imdbID}}">{{movie.title}}</a></h2>
			    	</span>
			    	<p>Rank: {{movie.rank}}</p>
			    </div>
		    </li>

		</div>
	</div>
</div>